:root{
    --md-text-font: Inter, sans-serif;
}

.md-typeset{
    font-size:1.1rem;
    line-height:1.85;
}

.md-content{
    max-width:900px;
    margin:auto;
}

img{
    border-radius:16px;
}

.md-header{
    backdrop-filter:blur(12px);
}

.md-grid{
    max-width:1400px;
}

h1{
    font-weight:800;
}

h2{
    margin-top:2rem;
}

blockquote{
    border-left:4px solid #448aff;
}